.head{
    background: #1c1c1c;
    padding: 0 20px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    min-height: 100px;
    padding: 20px 0px;
    margin :0 auto;

}